/* TYPOGRAPHY */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'Noto Sans', sans-serif;
}


body p {
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

body a {
    transition: .3s;
}

body a:hover {
    transition: .3s;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* OVERWRITE */

.uk-overlay-accent {
    background:rgb(240 106 47 / 92%);
}

.primary-svg svg {
    color: #F06A2F;
}

.uk-white {
    color: #fff;
}

p.hr-dark {
    color: #01031f;
}

.uk-dim {
    color: rgb(187 187 187 / 70%);
}

a.uk-button.uk-button-secondary {
    background: #fff;
    color: #01031f;
    padding-top: 8px;
    padding-bottom: 8px;
}

a.uk-button.uk-button-primary,
button.uk-button.uk-button-primary {
    background: #F06A2F;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:hover {
    text-decoration: none!important;
    color: inherit;
}

body a {
    color: inherit;
}

.accent {
    color: #F06A2F;
}

.accent-bg {
    background:#F06A2F;
}

.secondary-bg {
    background: #222;
}

.uk-padding-xlarge {
    padding: 120px;
}

/* NAVBAR */

ul.uk-navbar-nav>li>a {
    color: #b5b5b5;
}

/* HERO */

.hero-text h1 {
    font-size: 4em;
}

@media screen and (max-width:768px) {
    .hero-text h1 {
        font-size: 3rem;
    }
}


/* SERVICE */

.hr-service div.uk-card-default {
    background: #fff;
}

/* HOME FEATURED */

@media screen and (max-width: 768px){
    div.hr-featured {
        padding: 100px 20px;
    }
}

@media screen and (min-width: 768px) {
    div.hr-featured {
        height: 250px;
        padding: 50px;
    }
}

@media screen and (min-width: 1087px) {
    div.hr-featured {
        padding: 100px;
        height: 250px;
    }
}

/* PRODUCT */

div.product-photo:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    background: #efefef;
    left: 0;
    top: 0;
    z-index: -1;
}

@media screen and (max-width:960px) {
    div.product-photo:before {
        height: 50%;
        width: 60%;
    }
}

/* FOOTER */

footer {
    background-color: #222;
    background-image: url("/uploads/bgpattern.png");
    border-top: 5px solid #F06A2F;
}

.hr-legals li {
    display: inline-block;
    margin-right: 10px;
}