<div class="uk-section" style="background:#fafafa">
    <div class="uk-container">
        <h2 class="uk-text-bold uk-margin-large-bottom">Frequently Asked Questions</h2>

        <ul uk-accordion="collapsible: false">
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">How Do I Choose the Right Generator for Me?</a>
                <div class="uk-accordion-content">
                    <p>Generac has an online sizing calculator that can help you determine the right home backup generator for your unique needs. The best way, though, is to work with one of our 5000 dealers. They'll help you select the right generator, and provide you with a free, in-home assessment.</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">How Much is Everything Going to Cost?</a>
                <div class="uk-accordion-content">
                    <p>Generac home backup generators start at $1,949--the most cost-effective on the market. Installation costs vary by system size, installation considerations, and local building codes. We recommend getting a free, in-home assessment from a Generac dealer near you.</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">What's Involved in Installing a Home Backup Generator?</a>
                <div class="uk-accordion-content">
                    <p>Installing a home backup generator is an exciting time. Your installer will prepare the installation site outside your home, place the generator, run the natural gas or LP fuel line, install the transfer switch, and make all of the necessary electrical connections. And they will make sure that your backup generator runs properly, and is ready for its first power outage.</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">How Do I Get Started?</a>
                <div class="uk-accordion-content">
                    <p>You can begin exploring the full selection of Generac home backup generators. Use our interactive sizing guide to narrow down the selection. Then contact a Generac dealer for a free, in-home assessment. And if you have any questions, you can contact us today.</p>
                </div>
            </li>
        </ul>
    </div>
</div>