<div class="uk-grid-collapse uk-grid-row-large uk-child-width-1-3@s uk-text-left uk-white uk-grid-match" uk-grid>
    <div class="uk-card accent-bg" style="border: 1px solid white;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <p class="uk-white uk-margin-remove-top">Home Backup Power</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body" style="padding-top:80px;padding-bottom:80px;">
            <p>A permanently installed Generac home backup generator protects your home automatically</p>
        </div>
        <div class="uk-card-footer">
            <a href="" class="uk-flex uk-flex-middle uk-white">Read more <span uk-icon="chevron-double-right"></span></a>
        </div>
    </div>
    <div class="uk-card uk-card-secondary" style="border: 1px solid white;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <p class="uk-white uk-margin-remove-top">Clean Energy</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body" style="padding-top:80px;padding-bottom:80px;">
            <p>PWRcell's revolutionary technology captures and stores electricity</p>
        </div>
        <div class="uk-card-footer">
            <a href="" class="uk-flex uk-flex-middle uk-white">Read more <span uk-icon="chevron-double-right"></span></a>
        </div>
    </div>
    <div class="uk-card uk-card-secondary" style="border: 1px solid white;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <p class="uk-white uk-margin-remove-top">Portable Generators</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body" style="padding-top:80px;padding-bottom:80px;">
            <p>In an emergency, portable generators can provide critical backup power</p>
        </div>
        <div class="uk-card-footer">
            <a href="" class="uk-flex uk-flex-middle uk-white">Read more <span uk-icon="chevron-double-right"></span></a>
        </div>
    </div>





</div>