<div class="uk-section-primary uk-preserve-color uk-cover-container" uk-height-viewport style="background:url('uploads/banner5.jpg') no-repeat center; background-size:cover">

{{ partial "global/navbar" . }}

    <div class="uk-section uk-section-large uk-margin-medium-top">
        <div class="uk-container uk-container-large">
            <div class="uk-grid-large uk-flex uk-flex-middle" uk-grid>
                <div class="hero-text uk-dark uk-width-3-5@s">
                    <h4 class="uk-text-bold accent">COMFORT. SECURITY. CONVENIENCE.</h4>
                    <h1 class="uk-text-bold uk-margin-remove">Protect your home with Generac Backup Generators</h1>
                    <h5 class="uk-text-bold">Certified Award-Winning Generac Generator Dealer and Certified Generac Tech Pro</h5>
                    <a href="/contact" class="uk-button-secondary uk-button">Find Home Generators <span uk-icon="chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>