<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <div>
                    <h2 class="uk-text-bold">Offering <span class="accent">CLEANER, SMARTER ENERGY FOR YOUR HOME</h2>
                    <p>With rising energy costs and environmental threats looming over your head, it may seem like there's no relief in sight. What you need is a solution that will help you save money, keep your home safe and reduce your carbon footprint.</p>
                    <a href="/contact" class="uk-button uk-button-primary">Learn More</a>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-center">
                    <img src="/uploads/generac-pwrcell.jpg" alt="green backyard" width="500">
                </div>
            </div>
        </div>
    </div>
</div>