<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <div>
                    <h5 class="uk-text-bold uk-text-uppercase">Portable Generators</h5>
                    <h2 class="uk-text-bold">Portable Power Where and When You Need It</h2>
                    <a href="" class="uk-flex uk-flex-middle uk-dark">Read more <span uk-icon="chevron-double-right"></span></a>

                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-left">
                    <p>Portable generators are a welcome addition to many activities at home, at work, and away. In an emergency, portable generators can provide critical backup power. They make camping and tailgating more comfortable. And contractors appreciate the flexibility portable power brings to the jobsite.</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

