{{ define "main" }}
{{ $agentContact := .Params.contact }}
{{ $agentDetails := .Params.details }}
{{ $agentSocial := .Params.social_media }}
<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-2@m">
                <div class="product-photo">
                    <img src="{{ .Params.photo }}" alt="{{ .Title }}" class="uk-animation-slide-left-small">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-flex uk-flex-middle uk-animation-slide-right-small">
                <div class="uk-grid">
                    <div class="uk-child-width-1-1">
                        <div>
                            <h1 class="uk-text-large uk-text-bold">{{ .Title }}</h1>
                            {{ .Content }}
                        </div>
                        <div>
                            <span class="uk-text-italic">Starting at</span><br>
                            <span class="uk-text-bold uk-text-large uk-heading-bullet">{{ .Params.msrp }}</span>
                        </div>
                        <div class="uk-margin-large-bottom">
                            <a href="" class="uk-button uk-button-primary uk-margin-medium-top">Contact Us</a>
                        </div>
                        <hr>
                        <div class="uk-text-left uk-grid-medium" uk-grid>
                            <div>
                                <a href="{{ .Params.brochure }}" target="_blank" class="uk-link-muted">Download Brochure</a>
                            </div>
                            <div>
                                <span>Model: {{ .Params.model_number }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
